{
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.spec.ts",
      "options": {
        "printWidth": 160
      }
    }
  ]
}
