<div class="node-detail-container">
  <div class="header">
    <div class="d-flex justify-content-between">
      <div>
        <div class="name">{{ node.name }}</div>
        <div class="url">{{ node.url }}</div>
      </div>
      <div class="d-flex align-items-center">
        <app-node-status [isOnline]="node.isOnline" [isLoading]="node.isLoading"></app-node-status>
      </div>
    </div>
    <div>
      <button class="expand-button" (click)="onToggle(node.isExpanded)" [disabled]="!node.isOnline">
        <i class="fa fa-chevron-down" [class.is-expanded]="node.isExpanded" [class.is-disabled]="!node.isOnline"></i>
      </button>
    </div>
  </div>
  <div class="content" [class.is-expanded]="node.isExpanded">
    <app-block-list *ngIf="node.isExpanded" [url]="node.url"></app-block-list>
  </div>
</div>
